@import "~primeicons/primeicons.css";
@import "~primereact/resources/primereact.min.css";
@import "~primereact/components/button/Button.css";
@import "~primereact/resources/themes/nova-light/theme.css";
@import url('https://rsms.me/inter/inter.css');
@import '~primeflex/primeflex.css';

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.app-name {
  background-color: darkorange;
  font-weight: bold;
  color: white;
  flex-grow: unset !important;
  flex-basis: unset !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.top-header {
  background-color: whitesmoke;
}

.bottom-header {
  background-color: midnightblue;
  margin-left: 1px !important;
  width: 100%;
}

.p-menubar {
  padding-bottom: 0;
}


